{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div style="background-color: #000;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-11">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
  
                            <div class="col-md-6 col-lg-5 d-none d-md-block my-3" style="background-image: url('/media/images/loginlogo.png'); background-repeat: no-repeat; background-position: center; background-size: contain;">
                            </div>  
  
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">
                                    <h1>{% trans "Password Reset" %}</h1>
                                    {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}

                                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <input type="submit" value="{% trans 'Reset My Password' %}" />
                                    </form>

                                    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}
