{% extends 'base.html' %}
{% block content %}
<div class="row my-4 ml-4 mr-4">
	<div class="col-md-12">
		<div class="card mb-3 shadow hover-effect pl-3 py-3 pr-3">
			<h3 class="fw-bold">Our Vision</h3> 
				<h4>To be the Finest Sport in Fiji, for players and volunteers at all ages and abilities, enabling us to be recognised as an International Icon.</h4>
				
			<h3 class="fw-bold">Mission Statement </h3>
			<h4>To provide our members and the Rugby League community with strong Leadership, sound communication and clear strategic directions.
			We will facilitate the growth of Rugby League through quality services and innovative programs.
			To bring people together and enrich their lives through Rugby League.</h4>
		</div>
	</div>
</div>
			

{% endblock %}
